<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/15f3af5822.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <%- style %>
</head>

<body>
    <%- include('_header'); %>
        <main>
            <%- body %>
        </main>
        <%- include('_footer'); %>
            <%- script %>
</body>

</html>